* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(166, 34, 166);
  height: 100px ;
  width: 100%;
  border-radius: 5px;
}

.logo {
  display:flex;
  align-items: center;
  color:white;
  font-size: 45px;
  font-weight: 600;
  height: 90px;
  padding-left:10px; 
  
}
.motto{
  color: yellow;
  font-size: 24px;
  margin-right: 20px;
  font-style: italic;
}


.products {
  display: flex;
  justify-content:space-between; 
  flex-wrap: wrap; 
  width:80%;
   
}

.product {  
  display: flex; 
  width: 30%;  
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  border-radius: 10px;
}

.product img {
  width: 100%;
}

h6 {
  font-size: 22px;
  color:black;
  
}

.price {
  color: tomato;
  font-size: 22px;

}

.basket {  
  display: flex;
  align-items: center;
  flex-direction:column; 
  width: 20%;
  right: 0;
  top:111px;
  position: absolute; 
  font-weight: 400;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 5px;
  border:  solid violet;
}

.basket button{
  width: 90%;
  height: 50px;
  margin: 5px;
  font-weight: 600;  
  border-radius: 10px;
  padding: 2px;
  color: white; 
}

.remove{
  background-color:crimson;
   
}

.checkout {
  background-color: green;
}

.total {
  color: rgb(179, 33, 179);
  font-size: 22px;
  font-weight: 600;
}


.actions {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.actions .remove {
  background-color: crimson;
  color: white;
  height: 50px;
  border-radius: 10px 0 0 10px;
  width: 100px;
}

.actions .add {
  background-color: green;
  color: white;
  height: 50px;
  border-radius: 0 10px 10px 0;
  width: 100px;
}

.amount {
  width: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;

}



.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color:rgb(237, 242, 242);
  border-radius: 5px;


}







